body{
    background-color: lightgray;
}
#main-container{
    width: 90%;
    background-color: white;
    margin: auto;
    padding: 15px;
}
.img-container{
    width: 48%;
    float: left;
}
#first-container{
    margin-right: 4%;
}
.img-container img{
    width: 100%;
}
.img-container p {
    text-align: justify;
}
.clear-fix {
    clear: both;
}
ul li {
    padding: 0;
    margin: 0;
}
#qoute-container {
    background-color: maroon;
    padding: 30px;
}
#qoute-container blockquote {
    color: white;
    text-align: center;
    width: 60%;
    margin: auto;
    font-size: 18px;
}

ul {
    width: 300px;
    margin: auto;
}

ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}
ul li h2 {
    text-align: center;
    margin-bottom: 20px;
    background-color: yellow;
    padding: 10px;
}
